.env
.vscode/
stephan.pem
secret_vars.yaml
.$todolist.drawio.bkp
/terraform/.terraform/
/terraform/backend_ip.txt
/terraform/database_ip.txt
/terraform/terraform.tfstate
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate.backup
/terraform/.terraform.tfstate.lock.info